
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');


/* ----- General styles ------ */

* {
  margin: 0;
  padding: 0;
  font-family: 'Red Rose', cursive;
  font-size: 10px;
  box-sizing: border-box;
}

.App {
  max-width: 1440px;
  margin: 0 auto;
  
}


section {
  display: flex;
  justify-content: space-between;
  max-width: 124rem;
  margin: 0 auto;
  
}


.btn {
 
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;

}

 h2 {
  font-size: 4.8rem;
  
 }

 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul a{
  color: #434343;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 4.8rem;
}

ul .nav-close-btn {
  opacity: 0;
}




/* ------ Main Navbar ------- */

.main-nav {
  padding-top: 3.1rem;
  max-width: 124rem;
  margin: 0 auto;
}


.main-nav img {
  width: 23.3rem;
 
}


.connect-btn {
  width: 17rem;
  border-radius: 10px;
  line-height: 4.8rem;
  background-color: #A02279;
  margin-right: 0;
}

.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #A02279;
	display: none;
	opacity: 0;
	font-size: 1.8rem;
}

/* ----- Homepage ----- */

.hero-section {
  padding: 12.5rem 0 6.7rem;
  margin: 0 auto;
}
.hero-section .intro {
  padding: 0 5rem;
  flex: 1;
}

.hero-image {
margin-left: 5rem;
flex: 1;
}


.hero-section h1 {
  font-size: 5.6rem;
  line-height: 140%;
}

.hero-section span {
  font-size: inherit;
  color: #A02279;
}

.hero-section p {
  font-size: 2.4em;
  line-height: 35px;
  color: #434343;
  margin-top: 4.8rem;
}

.search {
 height: 5.4rem;
 margin-top: 4.8rem;
 display: flex;

}

.search input {
  flex: 60%;
  height: 5.4rem;
  padding: 2rem 1.2rem;
  border-radius: 8px 0 0 8px;
  border: 1px solid #A3A3A3;
  display: inline-block;
}

::placeholder {
  color: #B8B8B8;
  font-size: 1.4rem;
}

.search-btn {
  display: inline-block;
  width:37%;
  line-height: 5.4rem;
  border-radius: 0 8px 8px 0;
  text-align: center;
  background-color: #A02279;
}


/* ----- Sponsors ------ */

section.sponsors {
 max-width: 144rem;
  background-color: #A02279;
  margin: 0 auto;
}

.sponsor-logo {
  margin: 0 auto;
  width: 124rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}
.sponsors img {
  width: 21rem;
}


/* ----- Featured ----- */

.featured {  
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.featured h2 {

  color: #000;
  text-align: center;
  padding: 4.5rem 0;
}

.featured-places {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem,1fr));
  gap: 2.4rem;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #D7D7D7;
  border-radius: 1.5rem;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  padding: 2rem;
  height: 38.5rem;
 

}

.card p {
  font-size: 1.2rem;
}

.nft-details {
  display: flex;
  justify-content: space-between;
}
.card p:nth-of-type(2) {
  font-weight: 600;
}

.nft-pic {
  background-image: url(./images/druid6.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 26.5rem;
  border: 1px solid #D7D7D7; 
  border-radius: 1.5rem;
  position: relative;
}

.nft-pic.one {
  background-image: url(./images/aise1.png)
}

.card i {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.card div:last-child img {
  margin-right: 1rem;
}


/* ----- Learn More ----- */

div.learnmore {

   background-color: #A02279;
   margin: 0 auto;
   max-width: 144rem;
 
 }

 .learnmore section {
  align-items: center;
  padding: 10rem 0
 }

 .learnmore .intro {
  flex: 50%;
  margin-right: 5rem;
 
}

 .images {
  flex: 50%;
  margin-left: 10rem;
 }

 .learnmore h2 {
  color: #fff;
 }

 .learnmore p {
  font-size: 1.8rem;
  color: #fff;
  line-height: 3.5rem;
  margin: 30px 0 50px;
 }


 .learnmore a {
  font-size: 1.4rem;
 }

 .learnmore-btn {
  background-color: #fff;
  color: #A02279;
  display: inline-block;
  width: 15rem;
  border-radius: 10px;
  line-height: 4.8rem;
 }


 /* ------ Places to Stay page ------- */



 .seconday-nav .btn {
  color: #1D1D1E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 12rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid  #B4B4B4;
  font-size: 1.4rem;
 }

 .seconday-nav {
  max-width: 124rem;
  padding-top: 40px;
  margin: 40px auto;
 }



/* ----- Footer----- */

footer {
  background-color: #1D1D1E;
  margin: 0 auto;
  padding: 6.3rem 0 2rem;
  max-width: 1440px;
}

footer > section {
  margin: 0 100px;
}


section .company-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-right: 7rem;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.footer-logo {
  width: 23.3rem;
}

footer ul {
  list-style: none;

}

footer ul li + li {
  margin-top: 2rem;
}

footer ul a {
  color: #fff;
  margin-top: 4rem;
  text-decoration: none;
  font-size: 1.4rem;
}

footer h3 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.footer-col {
  display: flex;
  gap: 20rem;
  margin-right: 100px;
}

footer h4 {
  color: #fff;
  max-width: 124rem;
  margin: 0 100px;
  padding: 3rem 0;
  font-size: 1.6rem;
  font-weight: 400;
}

footer h4 span {
  font-size: 30px;
  margin-right: 15px;
  vertical-align: middle;
}




/* ----- Media Queries ------ */
/* (min-width: 1025px) and  */

@media screen and (max-width: 1240px){

   h2 {
    font-size: 4rem;
  }

  /* ----- Navbar ------ */

  nav.main-nav {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .main-nav img {
    width: 20rem;
   
  }

  nav ul a {
    font-size: 1.6rem;
  }

  /* ----- Hero ----- */
  
  .hero-section h1 {
     font-size: 4.8rem;
   }
   .hero-section p {
     font-size: 2rem;
     margin-top: 3rem;
   }
  
   .hero-image img{
    padding-top: 2rem;
    width: 100%;
    margin: 0 auto;
    padding-right: 5rem;
   }


  

  /* ------- Sponsors ------ */

  .sponsor-logo {
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
  }
  .sponsors img {
    width: 12rem;
  }


  /* ----- Featured ------ */

  .featured-places {
    padding: 0 5rem;
  }

  /* ------ Learn More ------ */

  
  .learnmore p {
    font-size: 1.6em;
    margin: 20px 0 30px;
   }

.learnmore section {
  padding: 10rem 5rem;
}

.learnmore .intro {
width: 48rem;
padding-left: 5rem;
}

.images img{
  width: 48rem;
}


/* ------ footer ----- */

.footer-logo {
  width: 18rem;
}
footer h3 {
  font-size: 1.8rem;
}
footer h4 {
  font-size: 1.4rem;
}

  
}

@media screen and (max-width: 980px){
.hero-section{
  flex-direction: column;
}

.hero-image img{
  padding-top: 2rem;
  max-width: 100%;
  padding-right: 0;
  
 }
 /* .hero-image {
  margin: 0 auto;
} */
 


.learnmore .intro {
 text-align: center;
  /* margin-right: 0; */
}

.images img{
  width: 42rem;
}

.learnmore h2 {
  font-size: 4rem;
 }

 .learnmore p {
  font-size: 1.4rem;
  line-height: 3rem;
 }

 .learnmore-btn {
  line-height: 4.3rem;
 }
}


@media screen and (max-width: 930px) {
  .images {
    margin-left: 5rem;
  }
  .images img{
    width: 40rem;
  }

  .learnmore h2 {
    font-size: 3.2rem;
   }
  .learnmore section {
    /* flex-direction: column; */
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px){
  nav ul a {
    font-size: 1.4rem;
    margin-right: 1.5rem;
  }
  
  .connect-btn {
    width: 14rem;
    font-size: 1.4rem;
  }

  .images img{
    width: 42rem;
  }


  section .company-details {
  align-items: center;
  padding-right: 0;
    }

  .socials {
    padding: 5rem;
  }

  footer section {
    flex-direction: column;
    align-items: center;
  }

  
  .footer-logo {
    width: 200px;
 
  }
  footer h4 {
    text-align: center;
  }
  footer h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  footer ul {
    text-align: center;
  }

  .footer-col {
    margin-right: 0;
  }


}

@media screen and (max-width: 768px) {
  
  /* ----- Navbar ------ */

  nav ul {
    position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #A02279;
		transition: 1s;
		transform: translateY(-100vh);
    z-index: 100;
  }

  nav ul a {
    color: #fff;
  }

  .responsive_nav {
		transform: none;
	}

  .nav-btn {
    display: block;
		visibility: visible;
		opacity: 1;
	}

  ul .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
    color: #fff;
    opacity: 1;
	}


  .hero-image img{
    padding-top: 8rem;
    width: 90%;
    margin: 0 auto;
    /* padding-right: 2rem; */
   }

    /* ----- Learn More ----- */

.learnmore section {
  flex-direction: column;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.sponsor-logo {
  gap: 1rem;
}
.sponsors img {
  width: 10rem;
}




.learnmore .intro {
padding: 0 5rem;
margin-top: 3rem;
}

.images {
margin: 5rem 0;
}

.images img{
width: 45rem;
}

/* --- Footer ----- */

.footer-col,  footer section {
  flex-direction: column;
  align-items: center;
 }
section .company-details {
 padding-right: 0;
}

 .footer-logo {
   width: 25rem;
   padding-bottom: 4rem;
 }
 .socials {
   text-align: center;
 }

 .footer-col {
   text-align: center;
   gap: 5rem;
   margin-right: unset;
   margin: 4rem 0;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
   padding: 5rem;
   width: 100%;
 }

 .footer-col div {
   display: inline-block;
 }

 footer h4 {
   text-align: center;
   padding: 0;
 }

}


@media screen and (min-width: 481px) and (max-width: 768px) {
  h2 {
    font-size: 3rem; 
  }
  .hero-section h1 {
    font-size: 3.2rem;
  
  }


  .connect-btn {
    border: 1px solid #fff;
  }
  
  /* ------Hero Section -------- */
  
 



  /* ------- Sponsors ------ */



 /* ------ Places to Stay ------ */

 .seconday-nav ul {
  top: 20%;
	height: 50%;
  width: 50%;

  
 }


  


}

@media screen and (min-width: 320px) and (max-width: 480px) {

  h2 {
    font-size: 2.2rem;
  }

  /* ----navbar ----- */

  .main-nav img {
    width: 16rem;
   
  }

   /* ---Hero section---- */

  .hero-section h1 {
    font-size: 3.2rem;
    text-align: center;
  }
  .hero-section p {
    font-size: 1.4rem;
    text-align: center;
  }
  .hero-section .intro {
    padding-left: 25px;
    padding-right: 25px;
  }

  .images img{
    width: 35rem;
    }
 
  .search {
 
    flex-direction: column;
   
   }
   
   .search input {
     flex: 100%;
     height: 4.5rem;
     border-radius: 8px 8px 0 0;
   
    
   }
   
   ::placeholder {
     font-size: 1.2rem;
     text-align: center;
   }
   
   .search-btn {
    font-size: 1.4rem;
     width: 100%;
     line-height: 4.5rem;
     border-radius: 0 0 8px 8px;
     text-align: center;
   }

/* ----- Featured ------ */

  .featured h2 {
    padding-left: 20px;
    padding-right: 20px;
  }


  .featured-places {
    padding: 0;
}


  /* ------- Sponsors ------ */

  .sponsor-logo {
   width: 100%;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem 0;
    /* max-width: unset; */
  }

  
  .sponsors img {
  
    width: 7rem;
  }


  /* ----- learn  more */

  .images img{
    width: 30rem;
    }

    /* ---- footer ---- */

    .footer-logo {
      width: 20rem;
    }

}

