
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');


/* ----- General styles ------ */

* {
  margin: 0;
  padding: 0;
  font-family: 'Red Rose', cursive;
  font-size: 10px;
  box-sizing: border-box;
}

.App {
  max-width: 1440px;
  margin: 0 auto;

}


section {
  display: flex;
  justify-content: space-between;
  max-width: 124rem;
  margin: 0 auto;
  
}


.btn {
 
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;

}


/* ------ Navbar ------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.1rem;
  max-width: 124rem;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul a {
  color: #434343;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 4.8rem;
}

nav img {
  width: 233px;
 
}

nav ul a {
  color: #434343;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 4.8rem;
}


.connect-btn {
  width: 17rem;
  border-radius: 10px;
  line-height: 4.8rem;
  background-color: #A02279;
}

/* ----- Homepage ----- */

.hero-section {
  padding: 12.5rem 0 6.7rem;
  /* flex-wrap: wrap; */
 
}
.hero-section .intro {
  flex: 48%;
}

.hero-section img {
  margin-left: 100px;
}

.hero-section h1 {
  font-size: 5.6rem;
  line-height: 140%;
}

.hero-section span {
  font-size: inherit;
  color: #A02279;
}

.hero-section p {
  font-size: 2.4em;
  line-height: 35px;
  color: #434343;
  margin-top: 4.8rem;
}

.search {
 height: 5.4rem;
 margin-top: 4.8rem;
 display: flex;
}

.search input {
  flex: 60%;
  height: 5.4rem;
  padding: 2rem 1.2rem;
  border-radius: 8px 0 0 8px;
  border: 1px solid #A3A3A3;
  display: inline-block;
}

::placeholder {
  color: #B8B8B8;
  font-size: 1.4rem;
}

.search-btn {
  display: inline-block;
  width:37%;
  line-height: 5.4rem;
  border-radius: 0 8px 8px 0;
  text-align: center;
  background-color: #A02279;
}


/* ----- Sponsors ------ */

section.sponsors {
 max-width: 144rem;
  background-color: #A02279;
  margin: 0 auto;
}

.sponsor-logo {
  margin: 0 auto;
  width: 124rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}
.sponsors img {
  width: 21rem;
}


/* ----- Featured ----- */

.featured {  
  display: flex;
  flex-direction: column;
}

.featured h2 {
  font-size: 4.8rem;
  color: #000;
  text-align: center;
}

.featured-places {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem,1fr));
  gap: 2.4rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #D7D7D7;
  border-radius: 1.5rem;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  padding: 2rem;
}

.card p {
  font-size: 1.2rem;
}

.nft-details {
  display: flex;
  justify-content: space-between;
}
.card p:nth-of-type(2) {
  font-weight: 600;
}

.indexOne .nft-bg {
  background-image: url(./images/druid6.png);
  width: 100%;
  height: 200px;
}


/* ----- Learn More ----- */

div.learnmore {

   background-color: #A02279;
   margin: 0 auto;
   max-width: 144rem;
   height: 700px;
   padding: 0 6rem;
 }

 .learnmore section {
  display: flex;
  align-items: center;
  padding-top: 20rem;
 }


 .learnmore h2 {
  font-size: 4.8em;
  color: #fff;
 }

 .learnmore p {
  font-size: 1.6em;
  color: #fff;
  line-height: 3.5rem;
  margin: 30px 0 50px;
 }


 .learnmore a {
  font-size: 1.4rem;
 }

 .images img {
  width: 378px;
 }

 .images {
  position: relative;
  height: 300px;
  padding-left: 850px;
 }

 .images img {
  position: absolute;
  border-radius: 10px;

 }

 .pic1 {
  right: 10%;
  top: -40%;
  transform: rotate(8.76deg);
  z-index: 1;
 }

 .pic2 {
  right: 40%;
  top: 10%;
  transform: rotate(-26.02deg);
  z-index: 2;
 }
 .pic3 {
  right: 5%;
  top: 20%;
  transform: rotate(-8.76deg);
  z-index: 3;
 }

 .learnmore-btn {
  background-color: #fff;
  color: #A02279;
  display: inline-block;
  width: 15rem;
  border-radius: 10px;
  line-height: 4.8rem;
 }


/* ----- Footer----- */

footer {
  background-color: #1D1D1E;
  margin: 0 auto;
  padding: 6.3rem 0 2rem;
  max-width: 1440px;
}

footer > section {
  margin: 0 100px;
}


section .company-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}



.company-details i {
  margin-right: 3.5rem;
}

.footer-logo {
  width: 23.3rem;
}

footer ul {
  list-style: none;

}

footer ul li + li {
  margin-top: 2rem;
}

footer ul a {
  color: #fff;
  margin-top: 4rem;
  text-decoration: none;
  font-size: 1.4rem;
}

footer h3 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.footer-col {
  display: flex;
  gap: 20rem;
  margin-right: 100px;
}

footer h4 {
  color: #fff;
  max-width: 124rem;
  margin: 0 100px;
  padding: 3rem 0;
  font-size: 1.6rem;
  font-weight: 400;
}

footer h4 span {
  font-size: 30px;
  margin-right: 15px;
  vertical-align: middle;
}


/* ----- Media Queries ------ */

@media screen and (max-width: 768px) {


  /* ----- Navbar ------ */

  nav {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  nav ul {
    display: none;
  }


  
  /* ------Hero Section -------- */

  .hero-section {
   flex-wrap: wrap;
  }
  .hero-section .intro {
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero-section h1 {
    font-size: 4.5rem;
  }
  .hero-section p {
    font-size: 1.8rem;
  }
  .hero-section img {
    /* padding: 10rem 5rem 5rem;
    margin: 0 auto; */
    display: none;
    
  }

  /* ----- Featured ------ */

  .featured-places {
    padding: 0 5rem;
  }



  /* --- Footer ----- */

  .footer-col,  footer section {
   flex-direction: column;
  }

 

  section .company-details { 
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo, .socials {
    width: 50%;
  }
  .socials {
    text-align: center;
    padding-top: 5rem;
  }

  .footer-col {
    text-align: center;
    gap: 5rem;
    margin-right: unset;
    margin: 4rem 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 5rem;
  }

  .footer-col div {
    display: inline-block;
  }

  footer h4 {
    text-align: center;
    padding: 0;
  }


  /* ----- Learn More ----- */
  .learnmore section {
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
  }

  .images img {
    position: relative;
    border-radius: 10px;
    bottom: 0;
  
   }


}





